plugin: gcp_compute
projects:
  - {{ lookup('env','GCLOUD_PROJECT') }}
filters:
  - labels.molecule_scenario = {{ lookup('env','MOLECULE_SCENARIO_NAME') }}
auth_kind: serviceaccount
scopes:
  - 'https://www.googleapis.com/auth/cloud-platform'
  - 'https://www.googleapis.com/auth/compute.readonly'
groups:
  centos_7: "'centos-7' in disks[0].licenses[0]"
  centos_8: "'centos-8' in disks[0].licenses[0]"
  ubuntu_1804_lts: "'ubuntu-1804' in disks[0].licenses[0]"
  ubuntu_2004_lts: "'ubuntu-2004' in disks[0].licenses[0]"
hostnames:
  - name
compose:
  ansible_host: networkInterfaces[0].accessConfigs[0].natIP