host 1*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 2*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 3*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 4*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 5*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 6*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 7*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 8*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 9*
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath {{ ssh_files_path }}/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
