host {{ jump_host_name }}
  Hostname {{ jump_host_public_ip }}
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

host 10.*
  ProxyCommand ssh -W %h:%p {{ ansible_ssh_common_args }} {{ jump_host_name }}
  User sa_{{ ansible_sa_id }}
  IdentityFile {{ ssh_files_path }}/{{ ssh_privkey_name }}
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 5m
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
## for subnetwork in subnetworks
#  subnetwork | ipaddr('network') | regex_replace('\\.0', '.*')