{
  "instances_project_id": "{{ instances_project_id }}",
  "network_project_id": "{{ network_project_id }}",
  "instances_region": "{{ instances_region }}",
  "instance_roles": {{ instance_roles | to_json }}
}