{
  "network_name": "{{ network_name }}",
  "network_region": "{{ network_region }}",
  "network_project_id": "{{ network_project_id }}",
  "network_subnetworks": {{ network_subnetworks | to_json }}
}
